:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #0b0b10;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  background: radial-gradient(circle at top, rgba(147, 52, 234, 0.25), transparent 50%), #0b0b10;
}

#root {
  min-height: 100%;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  margin-bottom: 2rem;
}
